@{
    var title = "😎无恙Duang | wyduang.com";
    if (ViewBag.Title != null)
    {
        title = "😎" + ViewBag.Title + " | wyduang.com";
    }
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Html.Raw(title)</title>
    @if (!string.IsNullOrEmpty(ViewBag.Keyword))
    {
        <meta name="keywords" content="@Html.Raw(ViewBag.Keyword)" />
    }
    else
    {
        <meta name="keywords" content="wyduang，wyDuang，别来无恙，无恙Duang" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    }
    else
    {
        <meta name="description" content="无恙duang的博客：别来无恙啊！" />
    }
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css">
        @*<link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />*@
        @*<link rel="stylesheet" href="~/libs/animate/animate.css" />*@
        <link rel="stylesheet" href="~/css/gloable.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="~/css/index.all.css" asp-append-version="true" />*@
    </environment>
    @RenderSection("styles", required: false)
</head>
<body>
    <partial name="_Header" />
    @RenderBody()
    <partial name="_Footer" />
    <environment include="Development">
        <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="~/libs/layui/dist/layui.js"></script>
            <script src="~/libs/wowjs/dist/wow.min.js"></script>
            <script src="~/js/index.all.js" asp-append-version="true"></script>*@
    </environment>
    @RenderSection("scripts", required: false)
    <script>
        var _mtac = {};
        (function () {
            var mta = document.createElement("script");
            mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500701766");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
</body>
</html>
