@model Article
@{
    ViewBag.Title = "添加文章";
}
@section styles {
    <environment include="Development">
        <link href="~/libs/editor.md/css/editormd.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />*@
    </environment>
}
<div id="main-body" class="content ui column centered grid container">
    <div class="row">
        <div class="eleven wide column">
            <div class="ui segment">
                <form class="ui form" action="/api/articles" method="post" role="form">
                    @Html.Hidden("Id", Model.Id)
                    <div class="field">
                        <label>文章标题</label>
                        <div class="fields">
                            <div class="fourteen  wide field">
                                <input type="text" name="title" placeholder="请输入文章标题" value="@Model.Title">
                            </div>
                            @*<div class="two wide field">
                                    <select class="ui compact dropdown">
                                        <option value="原" selected>原</option>
                                        <option value="转">转</option>
                                        <option value="译">译</option>
                                    </select>
                                </div>*@
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>文章作者</label>
                                <input type="text" name="author" placeholder="请输入文章作者" value="@Model.Author">
                            </div>
                            <div class="field">
                                <label>发表时间</label>
                                <input type="text" name="time" placeholder="请输入发表时间" value="@Model.CreateDate">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>文章Key</label>
                        <input type="text" name="articleKey" placeholder="请输入文章Key" value="@Model.ArticleKey">
                    </div>
                    <div class="field">
                        <label>文章类别</label>
                        <select name="CategoryId" value="@Model.CategoryId" class="ui fluid dropdown">
                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option value="@item.Id" selected>@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="field">
                        <label>文章内容</label>
                        <div id="editor" style="width:100%; height: 100%;">
                            <textarea style="display:none;"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="ui positive right labeled icon button">
                            提交<i class="checkmark icon"></i>
                        </button>
                        <div class="ui checkbox">
                            <input type="checkbox" name="toinsideimage" value="true">
                            <label>转换为内部图片</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/libs/jquery-form/jquery.form.js"></script>
    <script src="~/libs/editor.md/editormd.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editor", {
                width: "100%",
                height: "600",
                path: "/libs/editor.md/lib/",
                codeFold: true,
                saveHTMLToTextarea: true,
                atLink: false,
                emailLink: false,
                theme: localStorage.toolBarTheme || '',
                editorTheme: localStorage.editorTheme || 'default',
                previewTheme: localStorage.previewTheme || '',
                toolbarIcons: function () {
                    return ["bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "h1", "h2", "h3", "h4", "h5", "h6", "list-ul", "list-ol", "hr", "link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "html-entities", "watch", "preview", "fullscreen", "clear"]
                }
            });

            $('.ui.form').form({
                inline: true,
                on: 'blur',
                fields: {
                    title: {
                        identifier: 'title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '请输入文章标题'
                            },
                            {
                                type: 'length[1]',
                                prompt: '您的文章标题太短，请重新输入。'
                            }
                        ]
                    },
                    content: {
                        identifier: 'content',
                        rules: [{
                            type: 'length[10]',
                            prompt: '您的文章内容太短，请重新输入。'
                        }]
                    }
                },
                onSuccess: function () {
                    var markdown = editor.getMarkdown();
                    var html = editor.getHTML();

                    $(this).ajaxForm({
                        dataType: "json",
                        data: {
                            "html": html,
                            "markdown": markdown,
                        },
                        clearForm : true, 
                        resetForm : true, 
                        success: function (data) {
                            console.info(data);
                            //if (data.ResultCode ==  = 0) {
                            //    layer.msg(data.ResultMsg, { icon: 6, time: 2000 });
                            //    $(form).resetForm();
                            //    window.location.href = "/";
                            //} else {
                            //    layer.msg(data.ResultMsg, { icon: 5, time: 5000 });
                            //}
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('ERROR:' + XMLHttpRequest.status + "|" + XMLHttpRequest.readyState + "|" + textStatus, { icon: 5, time: 5000 });
                        }
                    });
                }
            });
        });

        //$('.edit select.dropdown').dropdown({
        //    action: 'activate',
        //    onChange: function (value) {
        //        $('.edit #type').val(value);
        //    }
        //});

        //let selectedTag = $('.edit #selectedTag').val();
        //selectedTag = selectedTag.replace(/\[|\]/g, '')
        //let tagList = selectedTag.split(' ');
        //tagList = tagList.filter(a => a);
        //$('.edit .itemTag').each(function () {
        //    const name = $(this).children('label').html();
        //    if (tagList.indexOf(name) >= 0) {
        //        $(this).checkbox('check');
        //    }
        //});

        //$('.edit .itemTag').checkbox({
        //    onChecked: function () {
        //        const name = $(this).siblings('label').html();
        //        if (tagList.indexOf(name) < 0) {
        //            tagList.push(name);
        //            $('.edit #selectedTag').val(tagList.join(' '));
        //        }
        //    },
        //    onUnchecked: function () {
        //        const name = $(this).siblings('label').html();
        //        const index = tagList.indexOf(name)
        //        if (index >= 0) {
        //            tagList.splice(index, 1);
        //            $('.edit #selectedTag').val(tagList.join(' '));
        //        }
        //    }
        //});
    </script>
}