@model Article
@{
    //admin/write
    //admin/edit/
}
@section styles {
    <environment include="Development">
        <link href="~/libs/editor.md/css/editormd.css" rel="stylesheet" />
        <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <style>
        .editormd-image-dialog {
            height: auto !important;
        }

        .editormd-toolbar {
            z-index: 11;
        }
    </style>
}
<div id="body-left" style="width:100%!important;" class="eleven wide column">
    <div class="ui segment">
        <form class="ui edit form">
            @Html.Hidden("id", Model.Id)
            <input type="hidden" id="selected-tag" name="selectedTag" value="">
            <div class="field">
                <label>文章标题</label>
                <div class="fields">
                    <div class="fourteen wide field">
                        <input type="text" name="title" placeholder="请输入文章标题" value="@Model.Title">
                    </div>
                    <div class="two wide field">
                        <select name="articleType" value="@Model.ArticleType" class="ui compact dropdown">
                            <option value="0" selected>默认</option>
                            <option value="1">原</option>
                            <option value="2">转</option>
                            <option value="3">译</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>文章Key</label>
                        <input type="text" name="articleKey" placeholder="请输入文章Key" value="@Model.ArticleKey">
                    </div>
                    <div class="field">
                        <label>文章分类</label>
                        <select value="@Model.CategoryId" class="ui compact dropdown">
                            @foreach (Category item in ViewBag.CategoryAllList)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>文章作者</label>
                <div class="fields">
                    <div class="eight wide field">
                        <input type="text" name="author" placeholder="请输入文章作者" value="@Model.Author">
                    </div>
                    <div class="four wide field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="isTop" tabindex="0" class="hidden">
                            <label>是否置顶</label>
                        </div>
                    </div>
                    <div class="four wide field">
                        @if (Model.Id > 0)
                        {
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="isDeleted" tabindex="0" class="hidden">
                                <label>是否删除</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="field">
                <label>文章标签</label>
                @foreach (Tag item in ViewBag.TagAllList)
                {
                    <div class="ui itemTag checked checkbox" style="margin-right:10px;">
                        <input type="checkbox">
                        <label data-id="@item.Id">@item.TagName</label>
                    </div>
                }
            </div>
            <div class="field">
                <label>文章内容</label>
                <div id="editor" style="width:100%; height: 600px;">
                    <textarea style="display:none;">@Model.Markdown</textarea>
                </div>
            </div>
            <div class="field">
                <label>备注</label>
                <textarea name="Remark" rows="8">@Model.Remark</textarea>
            </div>
            <div class="field">
                <button type="button" class="ui positive right labeled icon button submit">
                    提交<i class="checkmark icon"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/libs/editor.md/editormd.js"></script>
    <script src="~/js/admin.js"></script>
}